<article class="project-card">
  <h2 class="project-title"> {{project?.name}} </h2>
  <figure>
    <img class="project-img" [src]="project?.image" alt="{{project?.name}} Image">
  </figure>
  <p class="project-description"> {{project?.description}} </p>
  <div class="technologies-card" *ngFor="let technology of project?.technologies">
    {{ technology }}
  </div>
  <div class="project-btn-div">
    <a class="project-btn" [href]="project?.urlGitHub" target="_blank">View Repo</a>
    <a class="project-btn" *ngIf="project?.urlDeploy" [href]="project?.urlDeploy" target="_blank">View App</a>
  </div>
</article>
