.project-card {
  height: 22rem;
  background-color: #65BAA9;
  border: 2px solid #C5FCEF;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: scale(1.03);
}

/*--------- fondo imagen ----------*/
.project-card figure {
  max-width: fit-content;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0; /* Asegura que no haya márgenes externos */
  padding: 0; /* Asegura que no haya relleno interno */
  overflow: hidden;
}

.project-card a {
  display: inline-block;
  background-color: #C2185B;
  padding: 0.5rem 0.7rem;
  height: 1rem;
  width: 4.5rem;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  border: 1px solid #FFF3F7;
  color: #FFF3F7;
  font-weight: 500;
  border-radius: 5px;
  transition: background-color 0.7s ease;
}

.project-card a:hover {
  background-color: #FFF3F7;
  color: #C2185B;
}

.project-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.project-img {
  max-height: 7rem;
  width: auto;
  border-radius: 5px;
  background-color: #FFFAF0;
  border: 1px solid #2D443F;
}

.project-title {
  font-size: 1.5rem;
  margin-bottom: 0;
  color: #2D443F;
}

.project-description {
  margin: 0;
  color: #2D443F;
}

.text-project {
  text-align: center;
  color: #2D443F;
}

a {
  text-decoration: none;
}

.project-btn-div {
  display: flex;
  gap: 1rem;
}

.project-btn {
  display: flex;
  justify-content: center;
}

.technologies-list {
  margin: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.2rem;
  padding: 0;
  font-weight: bold;
}

