<mat-toolbar class="toolbar" color="primary">
  <nav class="toolbar">
    <a class="name-in-nav" routerLink="">
      <figure class="nav-img">
        <img [src]="keyboardIconSrc" alt="keyboard-icon" class="nav-icon">
      </figure>
      <div class="name-title">
        <h1 class="nav-items">Natalia Torrejón</h1>
        <h2 class="nav-items">Front-End Developer</h2>
      </div>
    </a>
    <ul class="nav-buttons-ul">
      <li><a class="nav-buttons" routerLink="">Home</a></li>
      <li><a class="nav-buttons" routerLink="/about-me">About Me</a></li>
      <li><a class="nav-buttons" routerLink="/projects">Projects</a></li>
      <li><a class="nav-buttons" routerLink="/skills">Skills</a></li>
      <li><a class="nav-buttons" routerLink="/contact">Contact</a></li>
    </ul>
  </nav>
</mat-toolbar>

<router-outlet></router-outlet>
