<main class="home-main">
  <section class="container-info-home">
    <div class="name-role">
      <h2 class="name-role-title">Natalia Torrejón</h2>
      <h2 class="name-role-title">Front-End Developer</h2>
    </div>
    <figure class="name-role">
      <img class="moca-me" src="../../assets/img/general-img/moca-y-yo.png" alt="moca-y-yo">
    </figure>
    <div class="btn-div">
      <button class="pink-btn" routerLink="/projects">
        Come see my work!
      </button>
      <button class="pink-btn" routerLink="/about-me">
        More about me
      </button>
    </div>
  </section>
</main>
<router-outlet></router-outlet>
