.skills-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* background-color: rgba(0, 0, 0, 0.8); */
  gap: 1rem;
  padding-top: 1.5rem;
  width: fit-content;
  height: 90%;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url("../../../assets/img/general-img/fondo-cod.jpg");
  background-size: cover;
  background-position: center;
}

.skills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  /* margin-top: 2rem; */
}

.skills-section h1{
  color:#C5FCEF;
  font-weight: 100;
  font-size: 2rem;
}

.skills-article {
  background-color: #65baa9;
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan a la siguiente fila si no hay suficiente espacio */
  max-height: 80%;
  max-width: 80%;
  width: 60%;
  height: 100%;
  gap: 1rem;
  padding: 2.5rem;
  overflow: auto;
  border-radius: 0.4rem;
  justify-content: space-around; /* Distribuye los elementos uniformemente en el eje principal */
  align-items: center; /* Alinea verticalmente */
}

.one-skill-container {
  flex: 0 1 calc(25% - 2rem); /* Distribuir el espacio en 4 columnas con espacio entre ellas */
  height: 10rem;
  margin: 0.5rem; /* Espacio entre los elementos */
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills-article::-webkit-scrollbar-thumb {
  background-color: #484848;
  border-radius: 6px;
}

.skills-article::-webkit-scrollbar {
  width: 0.5rem;
}
