.skills-main {
  display: flex;
  justify-content: space-between;
  background-color:black;
}

.skills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.skills-section h1{
  color:#C5FCEF;
  font-weight: 100;
  font-size: 2rem;
}

.skills-article {
  background-color: #65BAA9;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-height: 28rem;
  max-width: 80%;
  width: 38rem;
  height: 20rem;
  row-gap: 1rem;
  padding: 2.5rem;
  overflow: scroll;
  border-radius: 0.4rem;
  justify-items: center;
}

.skills-article::-webkit-scrollbar-thumb {
  background-color: #484848;
  border-radius: 6px;
}

.skills-article::-webkit-scrollbar {
  width: 0.5rem;
}
