.project-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: rgba(0, 0, 0, 0.8); */
  gap: 1rem;
  padding: 2rem;
  width: fit-content;
  height: fit-content;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url("../../../assets/img/general-img/fondo-cod.jpg");
  background-size: cover;
  background-position: center;
}
/*
.project-main::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("../../../assets/img/general-img/fondo-cod.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  z-index: -1;
  height: 100%;
} */

.projects-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem;
}

.projects-section::-webkit-scrollbar-thumb {
  background-color: #484848;
  border-radius: 6px;
}

.projects-section::-webkit-scrollbar {
  width: 0.5rem;
}

app-one-project {
  max-width: 15rem;
  max-height: 30rem;
  margin: 0 auto;
}
