.project-main {
  display: grid;
  /* grid-template-columns: 10rem auto 10rem;
  grid-template-areas: "left-banner projects-section right-banner"; */
  background-color: black;
  gap: 1rem
}

.projects-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  row-gap: 5rem;
  padding: 2rem;
  max-height: 30rem;
  overflow: scroll;
}

.projects-section::-webkit-scrollbar-thumb {
  background-color: #484848;
  border-radius: 6px;
}

.projects-section::-webkit-scrollbar {
  width: 0.5rem;
}

app-one-project {
  max-width: 15rem;
  max-height: 30rem;
  margin: 0 auto;
}
