<app-header></app-header>
<main class="about-me-main">
  <section class="section-about-me">
    <article class="about-me-text">
      <h1 class="about-me-title">About Me</h1>
      <p class="about-me-p">I am a Front-End Developer embarking on my journey in the world of technology.</p>
      <p class="about-me-p">I first studied philosophy and became a teacher. I love learning new things,
        specially things that go beyond what meets the eye. When I discovered the world of programming I decided to dive into it,
        steering my path towards the captivating realm of software development.</p>
      <p class="about-me-p">My background in philosphy and education gave me method,
        logic and also the ability to relate to and understand others, as well as comunication skills.
        I enjoy studying and understanding things in depth, so I can deliver a job well done.</p>
      <p class="about-me-p">I'm enthusiastic about reading both big great books, as well as small smart ones.
        Also I love animals, specially cats. My kitty, Moca, keeps me company through sprints of coding and collaborative project work.</p>
      <p class="about-me-p">If you haven't yet, take a look at my work, and let's do amazing things together!</p>
    </article>
    <figure class="figure">
      <img class="moca-me" src="../../../assets/img/general-img/moca-y-yo.png" alt="moca-and-me">
    </figure>
  </section>
</main>

