<app-header></app-header>
<main class="about-me-main">
  <section class="section-about-me">
    <article class="about-me-text">
      <h1 class="about-me-title">About Me</h1>
      <p class="about-me-p">I am a Front-End Developer embarking on my journey in the world of technology.</p>
      <p class="about-me-p">I first studied philosophy and became a teacher, which gave me method,
        logic and also the ability to relate to and understand others, as well as comunication skills.
        I love learning new things, specially things that go beyond what meets the eye.</p>
      <p class="about-me-p">When I discovered the world of programming I decided to dive into it,
        and I entered in the bootcamp for Web Development, in Laboratoria,
        where I started to see how coding is a much like magic... a knowledge that needs method,
        persistence and creativity altogether. I surely have all of that!</p>
      <p class="about-me-p">I enjoy studying and understanding things in depth, so I can deliver a job well done.
        After completing the bootcamp, I continued studying and working on projects, participating in two hackathons:
        WWCode and Talent Fest by Laboratoria. I'm also actively engaged in personal projects,
        and studiyng and learning more about the backend.</p>
      <p class="about-me-p">My kitty, Moca, who keeps me company
        through sprints of coding and collaborative project work.</p>
      <p class="about-me-p">If you haven't yet, take a look at my work, and let's do amazing things together!</p>
    </article>
    <figure class="figure">
      <img class="moca-me" src="../../../assets/img/general-img/moca-y-yo.png" alt="moca-and-me">
    </figure>
  </section>
</main>

