<app-header></app-header>
<main class="about-me-main">
  <section class="section-about-me">
    <article class="about-me-text">
      <h1 class="about-me-title">About Me</h1>
      <p class="about-me-p">I am a Front-End Developer embarking on my journey in the world of technology. </p>
      <p class="about-me-p"> have a background in education, which has allowed me to cultivate my soft skills, such as effective communication and bringing out the potential of those I work with.</p>
      <p class="about-me-p">I have a deep love for animals, particularly cats. My kitty's name is Moca, and she keeps me company while I work on code.</p>
      <p class="about-me-p">I enjoy tackling challenges with attention to detail and am committed to continuous learning. I have learned to program by developing projects, both individually and collaboratively, which has shown me how collaborative work allows us to go further and learn more effectively.</p>
    </article>
    <figure class="figure">
      <img class="moca-me" src="../../../assets/img/general-img/moca-y-yo.png" alt="moca-and-me">
    </figure>
  </section>
</main>

